@import 'framework_css/sass/_variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../assets/fond.png);
    background: rgba(255, 235, 218, 0.64);
    position: absolute;
    width: 100%;
    height: 2900px;
    left: 0px;
    top: 0px;
}

// HEADER
.background{
    position: $pos;
    width: $taille;
    top: 0;
    height: 130px;
    background: rgba(73, 61, 65, 0.33);
    nav{
        position: $pos;
        left: 150px;
        top: 50px;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                a{
                    padding: 10px 90px;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
}

// HEADER - DIAPO
.slider{
    height:752px;
    position: relative;

    img{
     object-fit: cover;
     height: $taille;
     width: $taille;
     position: $pos;
     top: 0;
     left: 0;
    }
}
.suivant, .precedent{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    position: $pos;
    top: 50%;
}
.suivant{
    right: 1rem;
    }
.precedent{
    left: 1rem;
    }

// HEADER - INFOS
aside{
    position: $pos;
    width: 90%;
    height: 176px;
    left: 87px;
    top: 783px;
    
    background: rgba(146, 110, 84, 0.41);
    border-radius: 201.5px;

    .dimensions{
        position: $pos;
        width: 60px;
        height: 60px;
        left: 100px;
        top: $top;
        h3{
            width: 180px;
            position: $pos;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 21px;
            left: 150px;
            top: 10px;

            color: #926E54;

            opacity: 0.9;
        }

    }
    .profondeur{
        position: $pos;
        width: 60px;
        height: 60px;
        left: 490px;
        top: $top;

        h3{
            position: $pos;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 21px;
            left: 150px;
            top: -1px;
            color: #926E54;
            opacity: 0.9;
        }
    }
    .victimes{
        position: $pos;
        left: 890px;
        top: 50px;

        h3{
            position: $pos;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 21px;
            left: 150px;
            top: 10px;
            color: #926E54;
            opacity: 0.9;
        
        }
    }

    .arbres{
        position: $pos;
        left: 1200px;
        top: 40px;

        h3{
            position: $pos;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            left: 150px;
            top: -1px;
            color: #926E54;
            opacity: 0.9;
        }
    }
}

.tours_jumelles{
    position: relative;
    top: 300px;
    left: 87px;
}

.histoire{
    position: absolute;
    width: 1052px;
    height: 589px;
    left: 272px;
    top: 1080px;
    
    background: rgba(212, 180, 139, 0.67);
    border-radius: 50px;
    h2{

    }
}